@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./marvelbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

@font-face {
  font-family: 'Bangers';
  src: url('/font/Bangers.ttf') format('truetype');
}